[2017-01-31 10:18] thanpolas opened #3 "Testing hangs on CI"
Testing will hang on both CIs we've tried, CircleCI and Travis.

The CI's both will hang without any error thrown and the ultimate timeout of 10 minutes will stop the build. As you can observe on CIrcleCI builds [#20](https://circleci.com/gh/waldophotos/kafka-avro/20), [#21](https://circleci.com/gh/waldophotos/kafka-avro/21), [#22](https://circleci.com/gh/waldophotos/kafka-avro/22), [#23](https://

[2017-02-17 22:09] thanpolas opened #10 "Investigate "Maximum call stack size exceeded" on Magic Byte"
This appeared out of the blue, with a connected consumer but no actual topics defined to be consumed.

[code]

[2017-06-28 04:38] codeburke opened #13 "Why support producing non-Avro encoded messages?"
First, thanks for putting this project together and fighting for transform interceptors in `node-rdkafka`. It is unfortunate that they see that as a scope-expanding feature and instead would rather have people fully wrap their extremely instrumented APIs.

Now to my question... I'm trying to understand the design decision around allowing producing to topics that weren't registered in the schema-re

[2017-06-28 13:35] codeburke opened #14 "SchemaRegistry.prototype.init() loads all the latest schemas into memory"
**Problem**
Currently with `KafkaAvro.prototype.init()` is called it loads all the latest schemas in the Schema Registry into memory. This might be ok for smaller clusters, but it doesn't scale when you get into the 100's or 1000's of schemas in the Registry for several reasons:

1. The most common use case for any application is to write to a few topics, not the majority of them.
2. The Schema Re

[2017-06-29 07:36] thanpolas commented on #13
That was a decision to protect the methods downstream which would get a corrupted message.

In our company (Waldo) there are no topics that are not on Avro, that is a core principle in working with Kafka so it made sense for us to have that check in place. The thinking is that if there is no schema to decode the message with it's either the Schema Registries fault or some other bogus situation.

I

[2017-06-29 07:38] thanpolas commented on #14
Yup, makes sense, feel free to send a PR for that

[2017-09-10 04:05] cryptogoth opened #15 "kafkaAvro.init() causes ECONNREFUSED 127.0.0.1:80"
When I follow the quickstart example in the repo README, I get the following error and stacktrace:
[code]

[2017-09-10 04:06] cryptogoth commented on #15
I suspect that there is a bare URL without a port number somewhere, and this defaults to using port 80.

This happens with both npm kafka-avro versions of 0.7.0 and 0.6.4.

[2017-09-24 04:16] kcliffe commented on #15
Hi,

I am a novice with NodeJS. But my experience was that the url.resolve call in schema_registry.js (_fetchAllSchemaTopics) seems to drop the port - possibly due to this issue:

https://stackoverflow.com/questions/16159782/node-js-resolving-url-with-port-included

I simply changed the url so it was fully qualified:
http://localhost:8081

And the sample works?

[2017-09-24 04:42] kcliffe commented on #15
Not sure if this belongs here but as an addendum to the comment above the next thing I hit was that the connect method timed out. I suspect because I qualified both Uri's and the kafka broker Uri gets handed straight to the node-rdkafka lib as is (and they probably don't resolve the uri) so changing it back to localhost:9092 works.

I then got a null ref on "this" in the promise so... i changed th

[2017-09-27 08:26] denneulin opened #16 "node-rdkafka version"
Hi,

I see you use the version 0.7.0-ALPHA.3 of node-rdkafka whereas the actual one is 2.0.0.

Do you plan to update your kafka-avro to deal with this new version of node-rdkafka or at least with the v1 ?

[2017-10-02 09:00] thanpolas commented on #16
Hey @denneulin, I'm on a break right now, if this is important to you feel free to submit a PR and I will accept it.

I didn't even look but I'd assume there are breaking changes from 0.7 to 2.0?

[2017-11-09 17:35] thanpolas opened #19 "Please beta test 0.8.0"
Need beta testers for the new `0.8.0-beta.1` version which has been published on npm with the tag `beta`.

### Changelog

- **v0.8.0-beta.1**, *09 Nov 2017*
    - Provides option to fetch all past versions of a topic (thank you [CMTegner](https://github.com/CMTegner).
    - Provides option to select which topics should be fetched.

### New features

New options when instantiating kafka-avro:

* `t

[2017-11-10 08:53] CMTegner commented on #19
This is great!

I found a bug when using `fetchAllVersions: true`, fixed in #20.

I'm unable to use `topics` because it expects there to be a pair of (`-key`, `-value`) subjects per topic. We only use key-serialisers for a few topics, and for the rest we use strings (which don't require a schema). This results in 404 errors for the topics that have no `-key` subject. Perhaps we can fail gracefully

[2017-11-11 18:25] thanpolas commented on #19
Nice! I've merged your PR and softened the errors when fetching versions so it won't break the operation via #21

I have released 0.8.0-beta.2 on the beta channel, let me know how this fares @CMTegner

[2017-11-15 10:08] CMTegner commented on #19
Found a few more issues: #22. With these fixes it seems to work well for us.

I've begun work on upgrading node-rdkafka, and it looks like there won't be many changes. The main difference is that the `Topic` constructor is no longer public (i.e. you just pass in strings), and the streaming-API is standalone (like the producer and consumer constructors). I'll hopefully have something ready later th

[2017-11-15 16:17] thanpolas commented on #19
Nice technique with the `.filter(Boolean)` wasn't aware of that, merged and published `0.8.0-beta.3` @CMTegner

[2017-11-16 14:52] CMTegner commented on #19
Beta 3 works great for us!

[2017-11-20 12:53] thanpolas commented on #19
cool, let's wait one more week @CMTegner and then I'll release proper.

[2017-11-27 10:42] thanpolas commented on #19
@CMTegner @giannisp 0.8.0 has been released on npm

[2017-11-27 10:42] #19 closed

[2017-11-27 10:43] thanpolas commented on #14
fixed in 0.8.0

[2017-11-27 10:43] #14 closed

[2017-11-27 10:44] thanpolas commented on #15
closing due to inactivity, feel free to open if the problem persists.

[2017-11-27 10:45] thanpolas commented on #13
closing due to inactivity, feel free to open if the problem persists.

[2017-11-27 10:45] #13 closed

[2017-11-27 10:45] thanpolas commented on #10
closing due to inactivity, feel free to open if the problem persists.

[2017-11-27 10:45] #10 closed

[2017-12-20 05:27] mvanbrummen opened #24 "Existing schema registry entry produces Error: Invalid "string": undefined"
Hi,

I am trying out a fairly simple example. I have the following topic and avro key and value schemas created:

[code]

When I attempt to produce a subsequent message with kafka-avro I get the following error:

Ready to use

[2017-12-22 22:42] thanpolas commented on #24
I suspect this has to do with a not found topic. Double check that the topic is properly created and populated from the Schema Registry.

Making a note to check for existence of topic at https://github.com/waldophotos/kafka-avro/blob/master/lib/kafka-producer.js#L91

[2018-02-26 03:56] tannad opened #26 "avsc and the readiness of kafka-avro"
Hi,

I am using the node-rdkafka with avsc for avro but that doesn't seem to work, I was curious to know the status and readiness of kafka-avro, can you kindly let me know.

Many thanks,
D Tanna

[2018-02-28 14:25] thanpolas commented on #26
Have you followed the instructions at [Initialize kafka-avro](https://github.com/waldophotos/kafka-avro#initialize-kafka-avro) part of the documentation? Please provide more information as to the exact nature of your problem

[2018-02-28 15:54] tannad commented on #26
Hi,

No I haven't followed the Initialize kafka-avro. Herewith the information: I want to consume / read the topic from the kafka cluster based on avro schema. The kafka cluster connects with Kerberos authentication / SASL.  With node-rdkafka and avsc  it didn't work and then I tried with avro-js package and it results in error. I was looking for package that would help with avro schema.

Looking

[2018-02-28 17:11] thanpolas commented on #26
If node-rdkafka and avsc didn't work then most likely kafka-avro will not work either as it depends on those packages.

[2018-02-28 17:11] #26 closed

[2018-03-01 08:05] tannad commented on #26
If it depends on those package, what additional value does kafka-avro provide?

[2018-03-01 15:39] thanpolas commented on #26
It's a helper that does some of the boilerplate required to get setup. Further boilerplate, and more opinionated one, can be found in the [node-kafking](https://github.com/waldophotos/node-kafking) package.

[2018-03-01 15:42] tannad commented on #26
Thanks for the reply. I initialize kafka-avro , it is ready to use but when the consumer is called it errors out with the following message:
Ready to use
{ Error: Local: Timed out
    at Function.createLibrdkafkaError [as create] (/Users/<userid>/mydevelopment/Kafka/kavro/node_modules/node-rdkafka/lib/error.js:254:10)
    at /Users/<userid>/mydevelopment/Kafka/kavro/node_modules/node-rdkafka/lib/c

[2018-03-02 15:45] jobetdelima commented on #24
Tried the above code. My Kafka set-up allows for auto-topic creation and I could see that the topic indeed got created. A message got pushed to it that looks like below.

However, I didn't see a schema get created on my schema registry. 'Appreciate any lead.

Raw Message:
[code]

[2018-03-02 17:57] thanpolas commented on #26
Hey, @tannad that looks like a connectivity issue. Make sure the kafka brokers are online and accessible by your application.

[2018-03-03 05:39] tannad commented on #26
Hi,
My rdkafka consumer application is able to connect and fetch me messages form the topic. This messages are in binary, I would like to have them deserialised.  See example:
{"value":{"type":"Buffer","data":[0,0,0,0,7,250,231,195,163,189,88,72,49,66,70,67,56,52,52,51,45,53,51,53,56,45,52,49,54,50,45,65,57,56,69,45,50,54,54,53,65,70,70,57,48,51,56,52,205,204,204,204,204,204,236,63]},"size":56,"ke

[2018-03-04 15:34] thanpolas commented on #26
As much as I want to help I cannot afford to dive into your particular use case and problem. This is an open source project and it operates under that premise.

You will have to figure out your connectivity problems. If you come up with a bug or an enhancement suggestion please do create an issue and at best try to also provide a solution in the way of a Pull Request.

[2018-03-05 21:14] jobetdelima commented on #24
Spent some time debugging this. Looks like the "var pos = type.encode(val, buf, 5);" line is the one that's throwing that error.  Hoping this would help.

[code]

[2018-03-05 21:40] jobetdelima opened #27 "Invalid string undefined error when producing a message"
Hi,

I've updated this issue (https://github.com/waldophotos/kafka-avro/issues/24 ) with more info.  It's not because the topic is not getting created. It's because of an error in the magic-bytes.js code. Was hoping someone familiar with it would know right off the bat what could be going on.

[2018-03-06 11:59] thanpolas commented on #24
Thank you for the research @jobetdelima, it will take some time for me to have a look at this as I no longer use kafka for my job. If you need this to be fixed fast I'd appreciate a PR

[2018-03-08 22:12] hackmad commented on #24
We got it working in this way. Tested with node v8.5.0 and v9.7.1. The key was to make sure schema registry had schemas for the topic keys and values named using the convention `<topic>-key` and `<topic>-value`. In this example both are `record` but the key can also be `string`.

__producer.js:__
[code]
__consumer.js:__
[code]
__package.json:__
[code]

When running `node producer.js` you should se

[2018-03-14 22:30] tannad opened #28 "Unhandled rejection Error: Local: Broker transport failure"
Hi,

After the kafka-avro initialization and getting the message ready getting the following error:
Unhandled rejection Error: Local: Broker transport failure
    at Function.createLibrdkafkaError [as create] (/Users/xxxx/mydevelopment/Kafka/node_modules/kafka-avro/node_modules/node-rdkafka/lib/error.js:254:10)
    at /Users/xxxx/mydevelopment/Kafka/node_modules/kafka-avro/node_modules/node-rdkafk

[2018-03-15 14:03] thanpolas commented on #28
You'll have to take this to the [Blizzard/node-rdkafka](https://github.com/Blizzard/node-rdkafka) folks and open an issue there.

[2018-03-15 14:03] #28 closed

[2018-04-18 10:05] ervitis commented on #15
Good morning, we are having some troubles with it. We have a Kafka consumer inside a docker container and when I execute it, it throws that error.

We are using for development the Landoop kafka environment (https://github.com/Landoop/fast-data-dev). I don't understand why it needs to connect to port 80?

Regards!

[2018-04-18 11:55] #16 closed

[2018-04-19 10:34] thanpolas commented on #15
Which version of kafka-avro are you using @ervitis ?

@ricardohbin any ideas?

[2018-04-19 19:03] ricardohbin commented on #15
@ervitis whats your `schemaRegistry` url?

[2018-04-20 14:37] ervitis commented on #15
Sorry, I was very busy to answer this. My mistake, I was using a wrong address.

Regards

[2018-04-20 17:07] ricardohbin commented on #15
Can we close this issue? This is a behavior that occurs when the `schemaRegistry` doesn't have the full protocol in the url. Ex: `schema-registry.com`.

We can provide a guard clause or a better error message. What do you think @thanpolas ?

[2018-04-23 14:02] tobinski commented on #27
I have the similar issue. The schema is fetched from the registry and present. But if I try to encode my values I got a InvalidError.

[2018-04-23 15:26] tobinski commented on #27
I could resolve the issue in my case. I used Union types in my schema. I have the following schema in the kafka schema registry
[code]
The producer successfully fetches the schema from the registry and failed to encode the value. I  passed the value like this: `const value = {name: "test"};`. This fails. I needed to wrap the value with the correct type: `const value =  { name: {"string": "test"}}`

[2018-05-09 19:25] #3 closed

[2018-05-14 14:50] usopan commented on #27
Any plans to update this repo with v4 avsc?

[2018-05-14 15:42] thanpolas commented on #27
It's just the way union types have been implemented in node.js by avro

[2018-05-15 07:10] usopan commented on #27
But if parseOptions.wrapUnions is set to true, it should be handled by the library itself?
Also if that doesn't work how can I get  Avro type from a Kafka-avro instance? So that I can use wrapUnions method on our own.

[2018-05-16 11:56] tobinski commented on #27
You just need to set the parseOptions.wrapUnions to false. Then it should work withoput wrapping values. The option is passed to [avcs](https://github.com/mtth/avsc/wiki/API#typeforschemaschema-opts)

[2018-05-22 20:45] ScottChapman opened #33 "socket hangup error"
SO, I am getting this when I connect:
[code]

My code looks like:
[code]

Not sure if this matters, but I am using SSL on the brokers

[2018-05-22 21:12] ScottChapman commented on #33
Just a little more info. I do have a `ca.cert` file I need to use. So the following CURL command works:
` curl -X GET -i --cacert secrets/ca.crt https://schema-registry:18082/subjects`

[2018-05-23 14:49] ScottChapman opened #35 "Schema validation on publish?"
I am not clear how this is done. I poked through the code, and it looks like you get the schema for the topic, but I don't see how the validation is done exactly?

Thanks in advance.

[2018-05-28 16:38] ricardohbin commented on #35
@ScottChapman the validation and parse is made using the [avsc](https://github.com/mtth/avsc) lib.

[2018-05-28 16:38] #15 closed

[2018-05-28 18:02] ScottChapman commented on #35
Cool, I figured that was the best lib to use for that sort of thing.

But just so I know where inthe code is that taking place?

[2018-05-29 17:29] #33 closed

[2018-06-07 15:22] ScottChapman commented on #35
Thanks!

[2018-06-07 15:22] #35 closed

[2018-06-18 07:07] philippschladitz opened #38 "librdkafka.sp.1 not found"
I was trying to use kafka-avro for the first time but just requiring the package fails with this error message:

Code:
`const KafkaAvro = require('kafka-avro');`

Error:
Error: librdkafka.so.1: cannot open shared object file: No such file or directory
    at Object.Module._extensions..node (module.js:664:18)
    at Module.load (module.js:554:32)
    at tryModuleLoad (module.js:497:12)
    at Funct

[2018-06-18 08:22] thanpolas commented on #38
please provide more details, what platform, OS version, node version, npm version did this happen?

Most likely it's due to a problem compiling the required binaries, uninstall and reinstall kafka-avro and observe the building logs.

[2018-06-18 09:21] giannisp commented on #38
@philippschladitz is `libsasl2-dev` present on the Ubuntu installation?

[2018-06-18 14:22] philippschladitz commented on #38
I tried it again with a fresh ubuntu and libsasl2-dev.
The error persists:
/home/philipp/project/node_modules/bindings/bindings.js:88
        throw e
        ^

Error: librdkafka.so.1: cannot open shared object file: No such file or directory
    at Object.Module._extensions..node (module.js:664:18)
    at Module.load (module.js:554:32)
    at tryModuleLoad (module.js:497:12)
    at Function.Modul

[2018-06-20 13:18] Amiko commented on #38
@philippschladitz
git clone https://github.com/edenhill/librdkafka && cd librdkafka && git checkout 52c0a71e40a288307b526acd78b8d60c65bcc505 && ./configure && make && make install && ldconfig

Try this.

[2018-06-21 09:05] philippschladitz commented on #38
@Amiko thanks. This is working. Is it possible to update the npm package?

[2018-06-24 18:10] Amiko commented on #38
@philippschladitz I'm not a contributor to this project. I advice against using this library. It's no longer supported and it simply crashed my node application. Use kafka-node and write your own logic for avro SR and validation. :(

[2018-06-25 10:45] thanpolas commented on #38
Thanks @Amiko for the help, librdkafka is provided by the library we wrap around, "node-rdkafka". @ricardohbin maybe it's worth the effort to check with them if they have updated their librdkafka and if not bug them to?

[2018-06-26 17:20] ricardohbin commented on #38
@thanpolas sure, I will check.

@Amiko , what version crashed your application? I am asking because I use this lib in production with large amount of data too. Maybe, you found a bug

[2018-06-26 17:29] Amiko commented on #38
@ricardohbin I believe it was latest 1.0.4.
I was building an image with docker which would work just fine in local container but it would crash without ANY Logs, whenever I deployed. I believe it has something to do with librdkafka most probably it had issues resolving core libraries. Even though I fixed local issues with librdkafa by installing and configuring it manually it wouldn't fix crashin

[2018-06-26 17:35] ricardohbin commented on #38
@Amiko What's your dockerfile? And where you deploy it? This Dockerfile sample works perfectly - both in to build in CI (circleCI) and to deploy it in production (kubernetes cluster)

[code]

[2018-06-26 18:31] teod0007 opened #41 "undefined:1 error upon consuming first avro message"
If the topic being consumed is recently created, the first message will always cause the application to crash. This seems to happen because the schema-registry will only have the first version of the schema after a message is sent to the topic (therefore, if the node server is up before there is anything on the topic, it will not be able to load anything, not even schema changes that comes afterwa

[2018-06-26 19:02] ricardohbin commented on #41
@teod0007 but how the first message was sent to kafka without the schema magic byte?

[2018-06-26 19:16] teod0007 commented on #41
In my scenario, the first message is sent to the topic from a backend java microservice (which also has schema registry and everything setup). What is happening, is that the schema registry will only receive the first schema version of the payload after the first message arrives in the kafka topic. The issue here is that the node application will load all the schemas only once, and for this partic

[2018-06-26 19:31] ricardohbin commented on #41
@teod0007 maybe a pooling refreshing the schema registry could do the trick, right?

[2018-06-26 19:40] teod0007 commented on #41
Maybe, but it could still leave room for errors (e.g the message arrives before the pooling updated the in-memory schemas). Another approach would be to always update the schema registry upon message arrival (and before parsing). This "could" have performance issues, but I believe they would be negligible If only the requested topic schemas are queried(not all topics at once)

[2018-06-26 23:09] ricardohbin commented on #41
@teod0007 I will explore some scenarios to this. Thanks for the issue.

I will try to simulate this behavior too

[2018-06-27 10:17] Amiko commented on #38
@ricardohbin I had something like this. But I removed git clone part when I changed to kafka-node library.

`ROM node:9

ENV BUILD_PATH /opt/app
ENV NODE_ENV production

RUN git clone https://github.com/edenhill/librdkafka && cd librdkafka && git checkout 52c0a71e40a288307b526acd78b8d60c65bcc505 && ./configure && make && make install && ldconfig

RUN mkdir -p $BUILD_PATH
WORKDIR $BUILD_PATH

ADD .

[2018-07-03 21:47] fubhy commented on #41
I just ran into the same issue. At a first glance, the kafka python lib from confluent solves this properly: https://github.com/confluentinc/confluent-kafka-python/blob/master/confluent_kafka/avro/cached_schema_registry_client.py

Maybe we can draw some inspiration from that? I haven't checked it out fully yet but the python incarnation of the same consumer (build around that lib) is not crashing

[2018-07-05 18:01] ricardohbin commented on #41
I am working in this problem. I will add a more defensive JSON.parse to avoid crashes and pooling the schemas (x seconds). The on-message request has problems due nodejs async behavior. Stay tunned :)

[2018-07-05 22:16] #27 closed

[2018-07-05 22:21] ricardohbin commented on #41
I opened the PR - https://github.com/waldophotos/kafka-avro/pull/42 explaining the motivations.

@fubhy and @teod0007 can you give a look and check if this strategy fits to your problem?

[2018-07-06 12:10] teod0007 commented on #41
That may be ok for now, it won't crash the application, but some messages will unfortunately be lost (the first message after schema changes). I did not have a lot of time to work on this yet, but I'm trying to implement a on-demand solution (mostly around error catching) that covers all possible scenarios without the need of polling. Only managed to fix the first message scenario for now (without

[2018-07-06 17:30] fubhy commented on #41
I quickly ported the code from the confluent python library to typescript: https://gist.github.com/fubhy/d30944689ae6733ccbb37124e7f0d5ed

I currently have no plans to release that as a separate library so we might want to integrate that here but I am not sure if the overall architecture goals of this (your) library are in-line with that approach.

[2018-07-07 22:22] ricardohbin commented on #41
@fubhy nice, my intention is to do a similar approach in the next major release.

@teod0007 it only loses the message if you update the schema and send a message with the new version before the refresh, right If you put a very short pooling, the message will not be lost. How your java backend works? How It changes the version (or id) of the schema?

Im asking because have a similar java microservi

[2018-07-13 16:19] teod0007 commented on #41
@ricardohbin My java backend works in a similar way, but just setting up the application will not update the schema after evolution (I'm using .avsc files for schema evolution). The schema registry will be updated only when the first message using the new schema is sent to kafka (kinda on-demand schema update).

[2018-07-13 20:41] #41 closed

[2018-08-02 15:41] eparreno opened #45 "Allow topics and subjects to be different"
I just want to discuss about that before creating a PR. You're assuming that topics match subjects, which is the most common approach but is not always the case. In our app for instance we have topics per cities where we sent the same kind of messages, some people do it with partitions but we choose that approach for some reasons.

In your implementation it's assumed that topic and subject are the

[2018-08-06 20:23] ricardohbin opened #46 "Update circleCI to 2.0"
CircleCI 1.0 will be deprecated in 08/31. The integration tests must be fixed before this date.

[2018-08-16 07:17] rocketraman commented on #45
Recently, changes were made for Kafka Avro serialization on the Java side that allow for more flexibility in subject names, for good reason, since ordering can only be maintained across different message types if they are all on the same topic.

See this blog post: https://www.confluent.io/blog/put-several-event-types-kafka-topic/

They use a "strategy" configuration option which controls how the

[2018-08-16 17:31] rocketraman commented on #45
I need this functionality so I'm probably going to work on this on a fork. I believe the logic used in this project can be simplified and improved at the same time. Currently the schema registry code downloads all the schemas in advance, and makes assumptions about the schemas based on the subject name, like what topic the schema is associated with, whether it is a key or value schema, and so on.

[2018-08-17 22:43] ricardohbin commented on #45
@rocketraman yes, all points you said are true: there are many closed issues (ex: https://github.com/waldophotos/kafka-avro/issues/41) that mention the current strategy of `kafka-avro`. The `CachedSchemaRegistryClient` strategy would be a much better implementation - and the plans are release the version 2.0.0 with this.

Unfortunately I am without time to create this implementation right now... :

[2018-08-18 13:57] rocketraman commented on #45
Unfortunately, I ran out of time to make this happen, and worked around it. I'll look forward to a 2.0 release. Thanks!

[2018-08-30 13:24] mosharov opened #47 "Error while JSON.parse when we have no topic schema"
When we don't have our requested topic in `this.sr.valueSchemas` we can't decode `message.value` and JSON.parse throwing error.
This is lib/kafka-consumer.js file:

[code]

I think it is not so critical to stop process and suggest next code:
[code]

[2018-08-30 13:39] mosharov commented on #47
ahh. I see that in lib/schema-registry.js on 355 line:
`avro.parse` see same name and namespace for some topics and remove them from result topics object. I can't see this behavior on native module in python, but i open new issue in avsc repo.

[2018-09-14 18:01] billidani7 opened #49 "Unhandled rejection Error: connect ECONNREFUSED 127.0.0.1:80"
Hi,

I am trying to run a simple demo.

[code]

I get this error at
/node_modules/kafka-avro/lib/schema-registry.js:30
[code]
`TypeError: URL is not a constructor`

I changed this
`require('url').URL`
with
`require('url').Url`
and the error stops.

But now I get this kind of error

[code]
I am running the confluent docker image

[code]

### SOLVED
Update to Nodejs 8.12.0 solved the problem

[2018-10-08 12:17] xapasnon opened #50 "Custom parameter on fields?"
Hi,

I am working on a new project that will use kafka with avro schemas. The lib you have developed here looks great! This is not an issue report - just a query/idea.

Now, in addition to using schemas I am considering to encrypt some of the data before it goes into kafka (i.e. some fields). And that is of course easy to do in both producer and consumer of certain topics, but my instinct says tha

[2018-10-13 01:35] jonathanmv opened #51 "ld: symbol(s) not found for architecture x86_64 when running npm install"
Hello everyone,

I'm trying to install this module into my project but I get the following error
[code]

I'm using a macOS High Sierra Version: 10.13.6 (17G65)
My node version is v8.10.0
My npm version is 6.4.1

What other information can I provide to you?
How can I help you to solve this?

Please let me know. Thank you

[2018-10-13 04:38] giannisp commented on #51
@jonathanmv got `librdkafka` installed? (`brew install librdkafka`)

[2018-10-13 13:18] jonathanmv commented on #51
I found [this step in node-rdkafka](https://github.com/Blizzard/node-rdkafka#mac-os-high-sierra). Basically for macOS High Sierra I need to set up env vars before running npm install

[code]

Then I ran `npm install` and the package got installed normally.

[2018-10-13 13:18] #51 closed

[2018-10-16 14:14] xapasnon commented on #50
Just wanted to close this. Discussed on confluent slack and while there is no restriction, it's not recommended. So will go with another approach.

[2018-10-16 14:14] #50 closed

[2018-10-23 13:13] mayukuse24 opened #52 "Avro validation on a version of schema"
Hey,

I was unable to find a way to validate the message against a specific version of a schema, which is not the latest one. Is there currently a way to do so using the confluent schema-registry either using the version id or schema id?

Edit:

Something like using a [resolver](https://github.com/mtth/avsc/wiki/Advanced-usage#schema-evolution) for 2 different versions of a schema as asked [here](

[2018-11-06 16:28] #49 closed

[2018-11-06 16:57] ricardohbin commented on #52
Hi @mayukuse24

Actually the lib doesn't support this, but it is not hard to implement this. I will try to add this feature soon :)

[2018-12-03 10:44] mariam-japaridze opened #54 "are stream callbacks synchronous?"
We have implemented kafka-avro in a platform, which handles over million events a day. During e2e tests, we found out that even though our callback functions are async operations, some events do not wait for callback to be finished and we get wrong calculations.
Are callbacks parallelized? Any help appreciated.

[2018-12-03 14:33] thanpolas commented on #54
@mariam-japaridze can you provide implementation examples so we understand which API you are using and the use-case?

What do you mean "events do not wait for callback to be finished"? If you are referring to consumers, that's the expected behavior, there is no throttling or queueing going on in kafka-avro, consumer callbacks are invoked the moment a message comes in.

[2018-12-03 16:00] mariam-japaridze commented on #54
Thank you for your answer. Yes, I am referring to consumers, something like

stream.on('data', (rawData) => {
      consumer(rawData);  //handles async operations like updates database etc.
 });

Is there a way to make callbacks dependent on each other? Imagine a leaderboard which needs to be iterated constantly or dropped according to data received, If there are  parallel callbacks, we might get

[2018-12-03 16:16] mariam-japaridze commented on #54
I used librdkafka wrappings for python and php in the past, difference was it did not use streams, but while true loop to fetch events. This guaranteed to only consume one event at a time. I understand that for most cases, it's even better to parallelize and use callbacks, but in our case, things are bit different :( Are streams bad idea in this case?

[2018-12-05 11:29] #54 closed

[2018-12-24 09:56] rajat12a opened #55 "Key not being serialized"
Is there any reason of key not being serialized, since python kafka avro module serializes both key and value whereas this node module serializes only value

[2018-12-29 03:13] manikawnth-abg opened #56 "checkForAllVersions is lost in code refactoring"
At the end of schema registration, `.then(this._checkForAllVersions);` was used in `init` logic before.

In v.1.0.0.
[code]

in latest version:

[code]

`.then(this._checkForAllVersions);`  was lost, ultimately making the functionality dead

Looks like there's something else too; as just adding this line is not deserializing it rightly..

**Edit** - For my case, I had to increase the concurrency t

[2019-01-02 18:14] ricardohbin commented on #56
I will check it @manikawnth-abg , thanks for the gotcha! I already see the commit that removes this. I will make a PR here.

[2019-01-02 18:36] ricardohbin commented on #55
Hello @rajat12a, you are right: currently, kafka-avro only serializes the message, not keys. But the key schemas are in memory, so in one next release I can add this support to this. I will give a look.

How the python client doesn't allow "string keys" (like the java client), probably you will have problems with the current version :/

[2019-01-03 16:16] #56 closed

[2019-02-03 17:56] manikawnth-abg commented on #52
Actually the logic is present to handle different id in case of different versions, but it looks like there's an issue with this code.
Using `fetchAllVersions` you should be able to fetch all the versions of the schema Registry.

The fetching logic works this way:
1. Fetch the latest schema, register it
2. Fetch all the schemas, one-by-one, and register those
3. In the registering logic, it parses

[2019-02-07 22:39] ricardohbin commented on #52
Hmmm makes sense. For real, the entire schema registry component need to be rewrited, using the same strategy that other libs use (first request on the fly in schema registry, cache it), but I am very busy at work.

If you need this behavior, feel free to open a PR.

[2019-02-15 09:49] thanpolas commented on #52
Just a note around why schemas are all pre-fetched, the requirement was for the library to be able to process spiking loads on any given set of topics.

Due to the nature of kafka, a service could get huge amounts of data in a single moment, it is well established that kafka's throughput can't be matched. The service handling the burst should start processing immediately. Having to wait for a roun

[2019-02-15 17:11] ricardohbin opened #59 "Kafka-avro 2.0"
The actual code is outdated and has a particular way of functionality: it's  different of other avro implementations (like python and java) - this already have been discussed in some issues.

We need to write a code using confluent's `CachedSchemaRegistryClient` strategy as is, and remove all these `fetch` strategies. The code style and the example can be improved to a more actual syntax, with asy

[2019-02-18 15:31] thanpolas commented on #59
@ricardohbin you have a better grasp than me, this is your call now. I have only informed about the reason behind certain decisions like pre-caching the schemas, which i'll restate again for historical purposes. You use this library, you depend on it, your call.

[2019-02-18 20:00] ricardohbin commented on #59
Yes, this fetch strategy is very useful in these cases. After some few feats (like `fetchRefreshRate`), it will only breaks when a schema is created and the message send before the app restarts or the refresh comes.

I just add this issue to get other insights of users too (and let them know some features that this lib doesn't have). It's very noble rewrites all the code, but it is working for yea

[2019-02-20 06:22] rajat12a commented on #55
@ricardohbin is it possible if I can contribute to your idea of 2.0.0?

[2019-02-23 00:22] mbieser commented on #13
I also would find it helpful to reject publishing messages to a topic for which there is no schema. The current behavior of kafka-avro is to publish unencoded message to the topic. Thus, any new producer application can start filling a topic with non-avro messages. This makes it impossible to use the schema-registry as a central point from which to control publishing of non-compliant messages, whi

[2019-02-26 19:20] mbieser opened #60 "App doesn't exit when `fetchRefreshRate` option is used."
Steps:
[code]
create a consumer and use it ...
Disconnect:
[code]
App doesn't exit.
App exits after consumer disconnects, when the fetchRefreshRate is *not* used.

[2019-03-05 04:06] #60 closed

[2019-03-05 04:07] ricardohbin commented on #55
https://github.com/waldophotos/kafka-avro/pull/58 fix this right?

[2019-03-05 04:07] #55 closed

[2019-03-12 20:35] #47 closed

[2019-03-18 11:02] bfncs commented on #45
I just wanted to second, that it would be great to find a way to support this. I think it would make sense to support the three strategies that the Java serializer popularized and as well making it possible to provide your own schema name resolution function `(topic, subject) => schemaName` to be usable with more involved strategies.

I read in #59 that this kind of functionality is planned for a

[2019-03-28 11:58] Meisolsson opened #64 "Passing no key fails"
From what I you should be able to NOT pass a key to kafka and still have it create a message. Currently what happends if i don't pass anything (or pass an empty string) is that the produce fails.

In the code we pass null the the node-rdkafak `produce` method and that is not allowed (see https://blizzard.github.io/node-rdkafka/current/Producer.html#produce). I propse that we alway call `_serialize

[2019-04-09 12:04] rajat12a commented on #55
yes

[2019-04-15 12:19] psalot opened #67 "How to handle schema compatibility?"
I need to implement forward or full schema compatibility.Is there any such configuration available in this library as specified [here](https://docs.confluent.io/current/schema-registry/schema_registry_tutorial.html#schema-evolution-and-compatibility) ?

[2019-04-29 02:25] ehrlichja opened #68 "Missing timestamps on produced messages"
Hi, and first off thanks for making this library.

Today I had a weird situation when I restarted my brokers and my producers to do an upgrade. After the cluster came back, I found that many of the messages being produced had -1 as their timestamp (using kafkacat). I am setting the timestamp specifically in the code:

I know that eventTsMs value is correct at this point, because the same variable

[2019-04-29 15:25] ehrlichja commented on #68
I see that in https://github.com/edenhill/librdkafka/blob/v0.11.6/CONFIGURATION.md the default for
```broker.version.fallback``` is 0.9.0. Did 0.9.0 support timestamps? Maybe ApiVersionRequest would have failed during the broker restart, and then the client chose to use a version that didn't have timestamp support.

[2019-06-06 17:28] ricardohbin commented on #67
Hi @psalot , usually this is defined directly in schema-registry - and the [schema-registry-ui](https://github.com/Landoop/schema-registry-ui) provides this interface (example at http://schema-registry-ui.demo.lenses.io/#/) . The lib only reads form there

[2019-06-06 17:31] ricardohbin commented on #68
Hi @ehrlichja , thanks for the feedback.

Hmmm, very weird uh? The timestamp is directly in body and once produced, the broker that handles all. You get logs of your producer sending -1 timestamp or you detect this in consumer?

[2019-06-06 17:51] ricardohbin commented on #64
@Meisolsson in `produce` method? Please can you provide what arguments is causing the breaking?

[2019-06-06 19:16] #52 closed

[2019-06-07 12:44] Meisolsson commented on #64
Well if you call `kafkaProducer.produce('topic', -1, { a: 'Some data' }, '')` the event will not be produced. The check `var sendKey = key ? ... : null` return null which is not allowed by node-rdkafka.

[2019-06-10 18:34] ricardohbin commented on #64
@Meisolsson if you pass empty string `''` the message is produced with success, the only side effect is that the consumer receives the key as `null` instead of `''`.

Tested here with kafka-avro `1.2.0`

[2019-06-11 21:01] Meisolsson commented on #64
Alright, might have been something else but I can't remember now. I'll close this.

[2019-06-11 21:01] #64 closed

[2019-06-15 19:46] ehrlichja commented on #68
I was using the kafkacat util to print just the message timestamp, which is how I was seeing the -1.

I am pretty sure the problem was that one of the producers failed to complete the version request metadata call to the broker, and so it fell back to 0.9.0, which did not support timestamps. So it must have just produced messages without timestamps, and kafkacat will show -1 for a non-existent tim

[2019-06-18 20:34] ricardohbin commented on #68
Hmmm makes sense :)

[2019-06-18 20:34] #68 closed

[2019-07-10 10:11] mk0y opened #69 "Where is validation actually done?"
Hi all,
I read in the docs that kafka-avro serialises and validates the data. So from your example I don't see anything stopping any invalid message from being sent:

[code]

I registered avro files to Schema Registry but whatever I send as `value` is being sent to the topic. Is there a use case where `.produce` method will actually fail or return error because data doesn't match the schema? Or I

[2019-09-03 19:29] ricardohbin commented on #69
Yep! In these cases `avsc` will raises an error, like "Error: invalid "string": undefined"

[2019-09-03 19:29] #67 closed

[2019-09-06 13:57] pleszczy commented on #46
Fixed that as part of https://github.com/waldophotos/kafka-avro/pull/71/files

[2019-09-06 14:02] pleszczy commented on #45
Hey,
I have implemented the TopicRecordNameStrategy which is the default strategy on the confluent platform in this pr : https://github.com/waldophotos/kafka-avro/pull/71/files

[2019-09-12 08:00] macabu opened #72 "Version 2.0.0 uses a version of node-rdkafka that is broken"
This commit https://github.com/waldophotos/kafka-avro/commit/fef8aeb1f9bdb6075d980d004d21d66a4ccc5b89 updated the `node-rdkafka` to `2.7.1`,  however, the version requires NodeJS 12.
The problem is that on `NodeJS 12.x`, `node-rdkafka@2.7.1` does not compile.
Version `2.7.2` fixes this issue.

[code]

[2019-09-24 13:19] #46 closed

[2019-09-24 14:15] ricardohbin commented on #72
I tested with node 8 TLS, 10 TLS and node 11 and everything is ok. It is breaking with node12...

Let's wait some news in node-rdkafka

[2019-11-05 16:58] pwillcode opened #75 "Moderate vulnerability in the axios dependency"
See https://npmjs.com/advisories/880

The vulnerability was patched in version >=0.18.1

Can kafka-avro use the patched version? There are a few breaking changes listed in the changelog, so it may or may not be a straightforward upgrade.

[2019-11-11 20:28] leehambley opened #76 "Unable to get relative time offset for "now minus X days""
For a number of services in my organization we are required to replay state from the last few days to get "clean".

We have messages that arrive very frequently (in the order of minutes) and events that are only to be seen daily, if at all. In order to calculate the state of the world we may need to start "yesterday at midnight" or "at the beginning of the calendar month" or "about 30 days ago".

[2019-11-12 11:20] thanpolas commented on #76
Implementing `getOffsetsForTimes` yourself and submitting it on `node-rdkafka` would probably be your best bet if that is what you want to do. After all, this package, is but a thin wrapper of that underlying, yet core, library.

However, I would recommend you rethink the problem and try to come up with alternative solutions. For this particular case, it might make sense to have an index of these

[2019-11-12 12:07] leehambley commented on #76
Thanks for the suggestion. For the time being I've solved this by also using `node-kafka` (which is dumb, but just to get an offset, it works OK).

I'll close this issue for now. The tricky part is/was that this is neither a consumer, nor a producer related concept, it's actually orthogonal and is something you need to know before starting a consumer,

[2019-11-12 12:07] #76 closed

[2020-01-03 14:21] #69 closed

[2020-01-03 14:22] ricardohbin opened #80 "Update README.md examples"
Update the README.md with async/await examples

[2020-01-08 09:14] johnbenz13 opened #82 "Authenticate with Confluent Schema Registry"
I went over the documentation multiple time but couldn't find how to authenticate to Confluent Schema Registry. Where do I put the registry api_key and api_secret in the configuration?

[2020-01-08 12:55] johnbenz13 commented on #82
Added [PR](https://github.com/waldophotos/kafka-avro/pull/83)

[2020-01-22 12:37] PHaroZ opened #85 "schema-registry.schemaMeta is unpredictable"
Hi,

When schema-registry load a schema it had them into `this.schemaMeta`, keyed by the topic name `schemaObj.topic`. Unfortunately the content of `schemaMeta` is unpredictable if some topics also have a schema for their key.
Because 2 schemas are loaded for each topic - one for the value and one for the key - each of them are added to `this.schemaMeta` with the same topic name, so only the last

[2020-01-31 23:33] tsnguyen947 opened #87 "Allow for configureable record name for produced messages"
Hi,

We have our subject value naming strategy as TopicRecordNameStrategy but our record names are namespaced so they are formatted with periods like `com.etc.etc.RecordName`. In the subject naming strategy module, it looks like the record name is being taken from the constructor name, but class names can't have periods in them. Would it possible to open that to be able to specify a record name to

[2020-02-12 18:28] #82 closed

[2020-02-29 08:37] rhyek opened #88 "is this library capable of registering new schemas automatically?"
This seems to be a common behaviour in java, if i'm not mistaken.

[2020-03-26 11:38] shintani0607 opened #89 "Missing param in function magicByte.fromMessageBuffer"
I find missing param "@param {avsc.Type}" in function magicByte.fromMessageBuffer.
Is it right?

In magic-byte.js
[code]

In kafka-consumer.js
[code]

[2020-05-21 13:30] OleksandrKrupko opened #92 "NPM package of kafka-avro@3.0.3 doesn't contain latest changes from master@3.0.3"
It looks like the npm package wasn't updated with the latest changes from the master.
(Can be verified by absence of changelog for v3.0.3 in Release History section of the npm page)

[2020-05-27 03:46] tzachshabtay opened #93 "Producing messages doesn't encode magic byte and schema id"
Using `kafka-avro@3.0.3`, I have a topic called `test`, I'm using the `RecordNameStrategy` and have registered a subject `test` in the schema registry.

Producing my message:
[code]

Produces the message but without the encoded schema.
The problem seem to stem from the fact that `kafka-avro` seems opinionated about the subject name (and I didn't see it mentioned in the docs). It seems to expect al

[2020-06-02 07:03] ebo-Robin-G opened #94 "Example consumer doesn't work"
Hi,
I have a topic that is populated, called heartbeat. It contains this example data:
[code]
But when I run your example, and just change the name, it never consumes, only prints Ready to use. Even when I push live data onto the topic, nothing shows. What could be going wrong?
[code]

[2020-06-17 15:11] psalot opened #95 "Support to create topic"
I am using this library but I want to enable creating topics from code as we have in node-rdkafka
https://github.com/Blizzard/node-rdkafka#admin-client

can you enable this?
This will help in creating topics at the runtime
I think all that needs to be done here is expose the Adminclient object as is from the KafkaAvro as below in the file lib/kafka-avro.js
![image](https://user-images.githubuserco

[2020-06-17 15:14] psalot commented on #94
Can you try to  remove the resolve from the consumer.connect function ?I believe that should resolve your problem

[2020-07-07 20:54] liweifeng2 commented on #94
'enable.auto.commit' and 'auto.offset.reset' are in the topic options. Try
[code]

[2020-08-25 22:20] ricardohbin commented on #92
Thanks for the message. I will check

[2020-08-25 22:20] #94 closed

[2020-08-25 22:21] #89 closed

[2020-08-26 00:21] ricardohbin commented on #93
This is the standard of schema-registry

[2020-08-26 00:21] ricardohbin commented on #92
You are right, I will release a minor release that will fix it

[2020-08-26 00:22] #88 closed

[2020-08-26 00:22] #72 closed

[2020-08-26 00:23] #75 closed

[2020-08-26 00:25] ricardohbin commented on #95
this lib has focus schema-registry (with pre-created topics following a standard). Expose the entire `AdminClient` just to create topics in runtime not fit well to the purpose of this lib. What do you think?

[2020-08-27 23:57] #80 closed

[2020-09-03 13:54] thomastoye opened #100 "Are producer streams supported?"
In `node-rdkafka`, you can use [`ProducerStream`s](https://blizzard.github.io/node-rdkafka/current/ProducerStream.html), similar to `ConsumerStream`s. I only see `kafkaAvro.getConsumerStream`, `kafkaAvro.getConsumer` and `kafkaAvro.getProducer`. Is there a way to get or create a `ProducerStream`?

[2021-01-24 14:11] DanielNetzeriAm opened #102 "Axios version have security issues"
According to the following: https://github.com/axios/axios/issues/3369
the current version of Axios used is vul. to CSRF redirects.

If it's possible to update to the latest version (introduce 0 breaking changes).

[2021-02-08 13:40] nmate91 opened #103 "magicByte.fromMessageBuffer only takes 2 arguments"
https://github.com/waldophotos/kafka-avro/blob/a3f4e113e3d479a2c0d8617abc276962f8b354a9/lib/kafka-consumer.js#L170

magicByte.fromMessageBuffer takes only 2 arguments by definition, here type, deserializeType, this.sr is given. In theory, this is a bug, but I haven't experienced one, since I use this package.

[2021-03-01 18:44] ricardohbin commented on #103
Hmm.... you are right. It is not exactly a bug, but a weird code. I will check it

[2021-03-01 18:44] ricardohbin commented on #102
Fixed https://github.com/waldophotos/kafka-avro/pull/101

[2021-03-01 18:44] #102 closed

[2021-05-23 10:11] lesjaw opened #109 "parsed value not correctly serialized"
data: {
  value: <Buffer 00 00 00 00 07 02 48 35 44 35 37 45 42 33 41 2d 32 42 33 38 2d 34 34 46 39 2d 39 45 44 38 2d 46 30 35 42 32 38 30 44 34 43 33 41 00 00 00 00 b2 cf 5e ... 662 more bytes>,
  size: 712,
  key: <Buffer 53 74 72 75 63 74 7b 4f 62 6a 65 63 74 49 64 3d 35 44 35 37 45 42 33 41 2d 32 42 33 38 2d 34 34 46 39 2d 39 45 44 38 2d 46 30 35 42 32 38 30 44 34 43 ... 3 more bytes>,
  topic

[2022-02-28 15:16] kirrg001 opened #113 "Add support for Node v16"
Hi there!

We have noticed that kafka-avro@latest does not work with Node v16.

Looks like it's caused by node-rdkafka dependency, see
See https://github.com/Blizzard/node-rdkafka/pull/892

Thanks,
Kate

[2022-04-18 17:47] e-osuna-g commented on #113
Hi there!

I have noticed this too, does anyone knows if this is being develop or is gonna be taken care of in the near future?

Thanks,
Ernesto

[2022-04-19 20:41] ricardohbin commented on #113
Hi! I can check it

[2022-05-11 22:00] romeosunio opened #116 "Update node-rdkafka version to 2.12.0"
Updating node-rdkafka version to 2.12.0 (i think) will solve the Node V16 issue.

[2022-05-11 22:25] romeosunio commented on #113
Managed to make this work on Node v16. By just updating the node-rdkafka version to 2.12.0 thru resolution in package.json:
`  "resolutions": {
    "kafka-avro/node-rdkafka": "^2.12.0"
  }`

  Hope this helps!

[2022-05-13 15:58] e-osuna-g commented on #113
I tried it with npm and overrides attribute, it did not work for me, but maybe cause im using an M1 Silicon (arm)
@kirrg001  can you try this solution ?

[2022-05-16 10:30] kirrg001 commented on #113
Thanks. We are supporting a lot of npm and node versions. _Right now_ it's not an option for us to use `overrides`.

[2022-05-17 18:58] ricardohbin commented on #113
hi @kirrg001 what versions are you using? I am doing some tests with version to see the best way to fix this problem with node 16

[2022-05-18 08:04] kirrg001 commented on #113
We are currently supporting Node v10 - v18

[2022-09-06 10:42] PavanBahuguni commented on #88
@ricardohbin @rhyek
Is there any update on this?